h4{
    font-size: 17px;
    text-align: center;
    color: rgb(228, 124, 27);
}
h5{
    font-size: 17px;
}
#imagen{
    width: 20%;
    margin-right: 6px;
    
}
#imagen1{
    width: 20%;
    margin-right: 6px;
}
.lenguajes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.columna{
    display: flex;
    flex-direction: column;
}