h4{
    font-size: 16px;
    text-align: center;
}
#imagen{
    width: 20%;
    
}
#imagen1{
    width: 20%;
    
}
.lenguajes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.columna{
    display: flex;
    flex-direction: column;
}