<ion-header>
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4> <b>Lenguajes de Programación</b> </h4> 

<ion-list>
  <ion-card>
  <ion-item>
    <div class="columna">
    <div class="lenguajes">
      <img src="../../assets/java.jpg" alt="" id="imagen1">
      <h5>Java </h5>
 
    </div>
    <hr>
    <div class="lenguajes">
    <img src="../../assets/HTML.png" alt="" id="imagen">
    <h5> HTML 5 </h5>
  </div>
  <hr>
  <div class="lenguajes">
    <img src="../../assets/PHP.jpg" alt="" id="imagen">
    <h5> PHP  </h5>
  </div>
</div>
            
      

    </ion-item>
   
</ion-card>
</ion-list>
</ion-content>
