<ion-header>
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4> <b>Lenguajes de Programación</b> </h4> 

<ion-list>
  <ion-card>
  <ion-item>
    <div class="columna">
    <div class="lenguajes">
      <img src="../../assets/java.jpg" alt="" id="imagen1">
      <h5>Java </h5>
 
    </div>
<hr>
    <div class="lenguajes">
    <img src="../../assets/HTML.jpg" alt="" id="imagen">
    <h5> HTML 5 </h5>
  </div>
<hr>
  <div class="lenguajes">
    <img src="../../assets/PHP.jpg" alt="" id="imagen">
    <h5> PHP  </h5>
  </div>
  <hr>
  <div class="lenguajes">
    <img src="../../assets/Python .jpg" alt="" id="imagen">
    <h5> Python  </h5>
  </div>
</div>
            
      

    </ion-item>
   
</ion-card>
</ion-list>
<h4> <b>Idiomas</b> </h4> 

<ion-list>
  <ion-card>
  <ion-item>
    <div class="columna">
    <div class="lenguajes">
      <img src="../../assets/español.jpg" alt="" id="imagen1">
      <h5>Español</h5>
 
    </div>
 
    <div class="lenguajes">
    <img src="../../assets/ingles.jpg" alt="" id="imagen">
    <h5> Inglés </h5>
  </div>


</div>
            
      

    </ion-item>
   
</ion-card>
</ion-list>
<h4> <b>Otras Habilidades</b> </h4> 

<ion-list>
  <ion-card>
  <ion-item>
    <div class="columna">
    <div class="lenguajes">
      <img src="../../assets/office.jpg" alt="" id="imagen1">
      <h5>Microsoft Office </h5>
 
    </div>
 
    <div class="lenguajes">
    <img src="../../assets/472454658b9212b5b1519b67f640e87426ae0517cf8801746533c405c082941f_200.jfif.jpg" alt="" id="imagen">
    <h5> Vegas Pro (Editor de Video) </h5>
  </div>


</div>
            
      

    </ion-item>
   
</ion-card>
</ion-list>
</ion-content>
