<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia Laboral</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
    <ion-item>
      <ion-label position="floating" id="texto1">
         <b>
        Prácticas </b></ion-label><br><hr>
        <img src="../../assets/Desarrollador.jpg" alt="">
        
     
     
         
            <ion-label position="floating">
              <ion-icon name="school" ></ion-icon>
              Especialidad</ion-label>
           
              <hr>
            <p>Desarrollador De Aplicaciones Multiplataforma</p>
       
      
        
              <ion-label position="floating">
                <ion-icon name="calendar" ></ion-icon>
                Duración </ion-label>
             
                <hr>
      
      
              <p id="fecha">2021-2022</p>
              
              <ion-label position="floating">
                <ion-icon name="calendar" ></ion-icon>
                Nombre Empresa </ion-label>
             
                <hr>
      
      
              <p id="fecha">...</p>
              
        
 
      </ion-item>
     
  </ion-card>
</ion-list>

</ion-content>
