ion-avatar{
    
    width: 100px;
    margin: auto;
    margin-top: 3%;
    
}
img{
    height: 100px;
}
ion-list{
    margin-top: -10px;
}
#bio{
    text-align: center;
    color: rgb(71, 70, 70);
    font-size: 14px;
}
#correo{
    font-size: 15px;
}
h3{
    text-align: center;
    color: rgb(216, 97, 29);
}
#fecha{
    font-size: 17px;
}

#imagen{
    width: 25px;
    height: 25px;
}