ion-toolbar{
    --background: rgb(11, 75, 134) !important;
    color: azure;

}
.perfil{
    display: flex;
    flex-direction:row ;
    width: 90%;
    margin-left: auto;
    margin-top: 3%;
    margin-right: auto;
}
#nombre{
    align-items: center;
    margin-left: 5%;
    margin-top: 4%;
}
.perfil2{
    display: flex;
    flex-direction:column ;
}
#trabajo{ 
    font-size: 14px;
    color: rgb(216, 97, 29);
    margin-top: -2px;
    margin-left: 5%;
}
.perfil3{
    display: flex;
    flex-direction:row ;
    align-items: center;
  

}
#completar{
    --border-radius: 10px;
    --border-color: rgb(255, 255, 255);
    --border-width: 2px;
    --border-style: ridge;
    width: 60%;
    height: 50%;
    color: black;
    height: 50px;
    margin-top: 20px;
    font-size: 12px;
    margin-right: 4%;

}
#perfilCom{
    font-size: 14px;
    color: rgb(216, 97, 29);
    margin-left: 4%;
}
ion-progress-bar{
    background:rgb(11, 75, 134) ;

}
#ajustes{
    font-size: 160%;
    margin-right: 1%;

}

#columna{
    display: flex;
    flex-direction: column;
}
#icono{
    font-size: 80px;
    color: rgb(81, 81, 202);

 
}


.ajustesTotal{
    width: 87%;
    margin-left: 13%;
    margin-right: auto;
    align-items: center;

}
#porcentaje{
    font-size: 20px;
}

.ochenta{
    width: 89%;
    margin: 0px auto;
}
ion-col{
    align-items: center;
}
ion-row{
    margin-top: 7%;
}
#texto2{
    margin-left: 9%;
}

